<app-header title="Date Time" ></app-header>

<ion-content >
  <ion-grid fixed>
  
    <ion-row class="ion-align-items-center">
      
      <ion-col size-lg="4" size-md="3" size-sm="6"
       *ngFor="let i of [1,1,1,1,1,1]" >
        <ion-card>
          <ion-img src="/assets/icon/favicon.png"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-col>

    </ion-row>

  </ion-grid>
  <ion-list >
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>

    <ion-item>
      
    </ion-item>
    <ion-label >Fecha de nacimiento</ion-label>
        <ion-datetime color="youtube"
        [value]="bornDate.toISOString()" 
        (ionChange)="changeDate($event)"
        min="2020-01-01" [max]="bornDate.toISOString()"
        ></ion-datetime>
  </ion-list>
</ion-content>
